@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #232323;
}

.square {
    width: 30%;
    background-color: slategray;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    margin: 0 auto;
    max-width: 600px;
    height: 70vh;
}

h1{
    color: seashell;
    text-align: center;
}

#stripe {
    margin: 20px 0px;
    background: seashell;
    height: 30px;
    text-align: center;
}

.selected {
    color: #ffffff;
    background-color: blue;
    border: none;
}

button{
    border: none;
}

footer {
    text-align: center;
}

.foot-er {
    color: #ffffff;
}

.foot-er a {
    color: aqua;
    text-decoration: none;
    margin: 0px 5px;
    font-weight: 300;
}

#hint {
    color: aqua;
    /* background-color: #fff; */
}